
@{
    ViewBag.Title = "Worktype";

    <style type="text/css">
        .grid {
            width: 100%;
        }
    </style>
}
@*<h2>Worktype</h2>*@


<div style="padding:7px 0;">
    <input type="button" value="Add New Service Type" id="create_worktype" class="btn btn-default" data-toggle="modal" data-target="#myModal_create" />
</div>
<div style="width:100%;" class="table-wrapper">

    @functions {
        public static string Sorter(string columnName, string columnHeader, WebGrid grid)
        {
            string name_col = null;
            //name_col = string.Format("{0} {1}", columnHeader, grid.SortColumn != columnName ?grid.SortDirection == SortDirection.Ascending ? "▲" :"▼" : string.Empty);
            name_col = string.Format("{0} {1}", columnHeader, grid.SortColumn != "Name" ? grid.SortDirection == SortDirection.Ascending ? "▲" : "▼" : string.Empty);
            return name_col;
            //return string.Format("{0} {1}", columnHeader, grid.SortColumn == columnName ?
            //  grid.SortDirection == SortDirection.Ascending ? "▲" :
            //"▼" : string.Empty);
        }
    }

    @{
        if (Model != null)
        {
            WebGrid grid = new WebGrid(Model);
            @grid.GetHtml(
            tableStyle: "webgrid-table",
            headerStyle: "webgrid-header",
            footerStyle: "webgrid-footer",
            alternatingRowStyle: "webgrid-alternating-row",
            selectedRowStyle: "webgrid-selected-row",
            rowStyle: "webgrid-row-style",

             mode: WebGridPagerModes.All,
             firstText: "<< First",
             previousText: "< Prev",
             nextText: "Next >",
             lastText: "Last >>",
             columns: new[] {
             grid.Column("name",header: Sorter("name", "Service Type Name", grid)),
             grid.Column("color",header:  Sorter("color", "Service Type Color", grid), format:@<label style="background:@item.color;border:1">&nbsp;&nbsp;&nbsp;&nbsp;</label>),
            grid.Column("Work_Id", header: "Actions", canSort: false,
            format: @<text>
                @Html.Raw("<img style='cursor:pointer' src='/img/edit.png' title='Edit' id='edit-image' style='cursor:pointer' data-toggle='modal' data-target='#myModal_edit' data-editId=" + item.Work_Id + "  onclick='EditProduct(" + item.Work_Id + ")' />")
                @Html.Raw("<img style='cursor:pointer' src='/img/delete.png' style='cursor:pointer' id='delete"+item.Work_Id+"' data-val="+item.name+" title='Delete'  onclick='DeleteProduct(" + item.Work_Id + ")'  />")
            </text>
              )
            })
        }
        else
        {
            <table class="webgrid-table">
                <thead>
                    <tr class="webgrid-header">
                        <th scope="col">
                            Service Type Name
                        </th>
                        <th scope="col">
                            Service Type Color
                        </th>
                        <th scope="col">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="webgrid-row-style">
                        <td colspan="3">No Record Found</td>
                    </tr>
                </tbody>
            </table>
        }


    }


    <div id="DivToAppendPartialVoew"></div>

    <!--Add Modal -->
    <div class="modal fade" id="myModal_create" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Service Type</h4>
                </div>
                <div class="modal-body" id="modal-body_create">
                </div>
            </div>
        </div>
    </div>

    <!--Edit Modal -->
    <div class="modal fade" id="myModal_edit" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Service Type</h4>
                </div>
                <div class="modal-body" id="modal-body_Edit">

                    <button type="button" class="close">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function EditProduct(Work_Id) {
            //alert(Work_Id)
            var ph = $("#modal-body_Edit");
            var cookievalue = $.cookie('AccountCookies');
            if (cookievalue = "" || cookievalue.length <= 0) {
                location.reload();
            }
            else {
                ph.load("/Work_Type/Worktype_Edit?Work_Id=" + Work_Id, function () {
                });
            }
        }

        function DeleteProduct(Work_Id) {
            //if (confirm("Do you want to delete Work type")) {
            var name = $("#delete" + Work_Id).attr("data-val");
            if (confirm("Are you sure you want to delete this work type?")) {
                var data = { 'Work_Id': Work_Id }
                $.post('/Work_Type/Worktype_delete?Work_Id=' + Work_Id, function (data) {
                    if (data == true)
                        location = location.href;
                    else
                        location = location.href;
                });
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            $("#create_worktype").click(function () {
                var div = $("#modal-body_create");
                var cookievalue = $.cookie('AccountCookies');
                if (cookievalue = "" || cookievalue.length <= 0) {
                    location.reload();
                }
                else {
                    div.load("/Work_Type/Create_Worktype", function () {
                    });
                }
            });
        });

    </script>




</div>
